# DO NOT COMMIT ENV VARS VALUES IN THIS FILE
export DOMINO_API_HOST=
export DEV_ACCESS_TOKEN=
export AUTOML_STANDALONE_MODE="false" # recommended when DOMINO_API_HOST is set
export DOMINO_ENVIRONMENT_ID="" # for job launching
export DOMINO_ENVIRONMENT_REVISION_ID="" # for job launching

# for data profiling domino jobs
export MLFLOW_TRACKING_URI=
export MLFLOW_TRACKING_TOKEN=

# For identifying the extension project to the backend code
export DOMINO_PROJECT_ID=

# storage paths
export DATABASE_URL="sqlite:///./automl.db"
export PROJECT_STORAGE_ROOT="./local_data/data"
export MODELS_PATH="./local_data/models"
export DATASETS_PATH="./local_data/datasets"
export TEMP_PATH="./local_data/temp"
export UPLOADS_PATH="./local_data/uploads"
export EDA_RESULTS_PATH="./local_data/eda_results"
